block main
for post in posts
	.article
		.left-part: .date				
			p.day= post.date.format('%d')
			p.month= post.date.format('%b')
		.right-part
			h1.title
				a(href=post.url)= post.title 
			h2= post.date.format('%Y-%m-%d') 
			.content
				cover = post.metadata.cover
				if cover
					.img-area: a(href= post.url)								
						img(src= cover, title= "author"+post.metadata.cover_author)
				.word-area: a(href= post.url)					
					if post.metadata.intro
						p= post.metadata.intro
					else
						content = post.content
						p= content.no_pic
				.tag: .lable							
					ul
						tags = 	post.metadata.tags
						if tags
							for tag_name in tags
								li
									a(href="tags/"+ tag_name)
										i.icon-circle.icon-1x
									= "&nbsp;"+tag_name